<ion-view title="個人資料" id="page7">
  <ion-content padding="true" style="background: url(img/4SBvRbv8Ta2DCcFbzS9u_bg02.png) no-repeat center;background-size:cover;" scroll="true" class="has-header">
    <ul class="list">

      <li class="item item-toggle">
        設定1
        <label class="toggle toggle-assertive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

      <li class="item item-toggle">
        設定2
        <label class="toggle toggle-assertive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

      <li class="item item-toggle">
        設定3
        <label class="toggle toggle-assertive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

      <li class="item item-toggle">
        設定4
        <label class="toggle toggle-assertive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

      <div class="item range">
        <i class="icon ion-volume-low"></i>
        <input type="range" name="volume">
        <i class="icon ion-volume-high"></i>
      </div>
        
      <div class="list">
        <div class="item range range-positive">
          <i class="icon ion-ios-sunny-outline"></i>
          <input type="range" name="volume" min="0" max="100" value="33">
          <i class="icon ion-ios-sunny"></i>
        </div>
      </div>

      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="原密碼">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="新密碼">
        </label>
      </div>
      
      <button class="button button-full button-positive">
          存檔
      </button>

      <input id="uploadFileInput" type="file" accept="image/*">      

    </ul>
  </ion-content>
</ion-view>