<ion-view title="註冊" id="page6">
  <ion-content padding="true" scroll="false" class="has-header">
    <form id="page6-form2" class="list">
      <ion-list id="page6-list3">
        <label class="item item-input" id="page6-label1">
          <span class="input-label">暱稱</span>
          <input id="page6-input1" type="text" placeholder="">
        </label>
        <label class="item item-input" id="page6-label2">
          <span class="input-label">信箱</span>
          <input id="page6-input2" type="email" placeholder="">
        </label>
        <label class="item item-input" id="page6-label3">
          <span class="input-label">密碼</span>
          <input id="page6-input3" type="password" placeholder="">
        </label>
        <label class="item item-input" id="page6-label4">
          <span class="input-label">確認密碼</span>
          <input id="page6-input4" type="password" placeholder="">
        </label>
      </ion-list>
      <!-- <a ui-sref="menu.derine()" class="button button-stable button-block">註冊</a> -->
      <button id="page6-button1" class="button button-stable button-block">註冊</button>
    </form>
  </ion-content>
</ion-view>