<ion-view title="功能說明" id="page8">
  <ion-content padding="true" style="background: url(img/4SBvRbv8Ta2DCcFbzS9u_bg02.png) no-repeat center;background-size:cover;" scroll="true" class="has-header">
    <div class="card">
        <div class="item item-divider">
          主要功能：
        </div>
        <div class="item item-text-wrap">
          個人化推薦、旅遊資料庫、氣象功能、導航功能、評分功能、翻譯功能、搜尋功能、聊天功能...等。
        </div>
        <div class="item item-divider">
            - 個人化推薦
        </div>
        <div class="item item-text-wrap">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam sint necessitatibus enim officiis saepe quia aliquam, harum, officia explicabo omnis, eius laboriosam amet? Facere expedita perferendis, animi itaque ut dolore.
        </div>
        <div class="item item-divider">
            - 旅遊資料庫
        </div>
        <div class="item item-text-wrap">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam sint necessitatibus enim officiis saepe quia aliquam, harum, officia explicabo omnis, eius laboriosam amet? Facere expedita perferendis, animi itaque ut dolore.
        </div>
        <div class="item item-divider">
            - 氣象功能
        </div>
        <div class="item item-text-wrap">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam sint necessitatibus enim officiis saepe quia aliquam, harum, officia explicabo omnis, eius laboriosam amet? Facere expedita perferendis, animi itaque ut dolore.
        </div>
        <div class="item item-divider">
            - 導航功能
        </div>
        <div class="item item-text-wrap">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam sint necessitatibus enim officiis saepe quia aliquam, harum, officia explicabo omnis, eius laboriosam amet? Facere expedita perferendis, animi itaque ut dolore.
        </div>
        <div class="item item-divider">
            - 評分功能
        </div>
        <div class="item item-text-wrap">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam sint necessitatibus enim officiis saepe quia aliquam, harum, officia explicabo omnis, eius laboriosam amet? Facere expedita perferendis, animi itaque ut dolore.
        </div>
        <div class="item item-divider">
            - 翻譯功能
        </div>
        <div class="item item-text-wrap">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam sint necessitatibus enim officiis saepe quia aliquam, harum, officia explicabo omnis, eius laboriosam amet? Facere expedita perferendis, animi itaque ut dolore.
        </div>
        <div class="item item-divider">
            - 搜尋功能
        </div>
        <div class="item item-text-wrap">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam sint necessitatibus enim officiis saepe quia aliquam, harum, officia explicabo omnis, eius laboriosam amet? Facere expedita perferendis, animi itaque ut dolore.
        </div>
        <div class="item item-divider">
            - 聊天功能
        </div>
        <div class="item item-text-wrap">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam sint necessitatibus enim officiis saepe quia aliquam, harum, officia explicabo omnis, eius laboriosam amet? Facere expedita perferendis, animi itaque ut dolore.
        </div>
      </div>
  </ion-content>
</ion-view>